:root {
    --mh-light-blue: #13305a;
    --mh-dark-blue: #091937;
    --mh-yellow: #f0db98;
    --mh-dark-yellow: #95844f;
    --mh-gray: #1c1c1c;
    --mh-red: #8c1818;
    --mh-dark-red: #1d0503;
    --mh-white: #fdfcfa;
}



button{
    color:#1d0503;
}
body{
    background-color:#1c1c1c;
    
}